<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--base href="/tonnel-wiki/assets/"-->
  
  <link rel="stylesheet" href="/tonnel-wiki/assets/css/style.css?{{site.time|date:'%s%N'}}">
  <script src="/tonnel-wiki/assets/js/script.js?{{site.time|date:'%s%N'}}"></script>

  <link rel="icon" href="/tonnel-wiki/assets/img/svg/tonnel.svg" type="image/svg">

  <title>Tonnel Wiki : {{ page.title }}</title>
  <meta property="og:type" content="website">
  <meta property="og:title"      content="Tonnel Wiki : {{ page.title }}">
  <meta property="twitter:title" content="Tonnel Wiki : {{ page.title }}">

  <meta name="description"             content="{{ page.description }}">

  <!--
  <meta property="og:description"      content="{{ page.description }}">
  <meta property="twitter:description" content="{{ page.description }}">

  <meta property="og:url"      content="https://github.io/tonnel-wiki{{ page.url }}">
  <meta property="twitter:url" content="https://github.io/tonnel-wiki{{ page.url }}">

  <meta property="og:image"      content="https://github.io/tonnel-wiki/assets/images/banners/{{ page.banner | default: "default.png" }}">
  <meta property="twitter:image" content="https://github.io/tonnel-wiki/assets/images/banners/{{ page.banner | default: "default.png" }}">
  <meta property="twitter:card" content="summary">
  -->

</head>
<style>

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
 
#footer {
  padding: 0 1rem 0rem 1rem;
}

#footer a, #footer span {
  margin-inline-end: 0.5rem;
}

</style>
<body>
  <div class="wrapper">
    <div style="padding-top:32px">
      {{ content }}
    </div>
    <div style="margin-top:auto;">
      <hr style="margin-top:0">
      <div id="footer" dir="ltr"></div>
      <!--href="https://github.com/vwxjs666/tonnel-wikiommit/{{ site.github.build_revision }}"-->
      <div style="display:flex;justify-content:space-between;color:hsl(211,24%,30%);padding:1rem">
        <div dir="ltr">
          {{ site.time | date: '%Y-%m-%d %H:%M' }}
        </div>
        <div>
          0x{{ site.github.build_revision | slice: 0,7 }}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
